Repository beachstrider/withrecap: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "./packages/*/src/**/*.{js,jsx,ts,tsx}": "eslint --fix",
  "./packages/**/*.{ts,tsx,html,md}": "prettier --write"
}

chore: add notation about realtime database in readme
  README.md
Due: none

chore: insert realtime_database_url in git actions
  .github/workflows/deploy-firebase-hosting.yml
  .github/workflows/release-extension.yml
Due: none

update: readme
  README.md
Due: none

chore: add realtime db, add OnPrecenseDeleted, configure emulator
  .github/workflows/deploy-firebase-functions.yml
  package.json
  packages/app/package.json
  packages/engine/config/database.rules
  packages/engine/firebase.json
  packages/engine/package.json
  packages/engine/src/config/index.ts
  packages/engine/src/functions/background/OnPrecenseDeleted.ts
  packages/engine/src/index.ts
  packages/engine/src/utils/sentry.ts
  packages/extension/package.json
  packages/extension/src/background/index.ts
  packages/seeder/package.json
  packages/seeder/src/index.ts
  packages/shared/src/auth/AuthGuard.tsx
  packages/shared/src/auth/AuthProvider.tsx
  packages/shared/src/auth/GoogleAuth.ts
  packages/shared/src/auth/index.ts
  packages/shared/src/firebase/index.ts
  packages/shared/src/firestore/index.ts
  packages/shared/src/functions/index.ts
  packages/shared/src/index.ts
  packages/shared/src/realtime/index.ts
  packages/shared/src/realtime/presences/index.ts
  yarn.lock
Due: eslint --fix, prettier --write

fix(shared): import error
  packages/engine/src/services/highlights/index.ts
  packages/shared/src/index.ts
Due: eslint --fix, prettier --write

chore: update readme
  README.md
Due: none

chore: remove empty readme in extension
  packages/extension/README.md
Due: prettier --write

chore: remove mono run cli
  package.json
  packages/app/package.json
  packages/engine/package.json
  packages/extension/package.json
  yarn.lock
Due: none

chore: update readme
  .eslintrc
  README.md
Due: none

chore: checkpoint
  packages/engine/package.json
  packages/shared/src/calendar/google/index.ts
Due: eslint --fix, prettier --write

chore: remove useless config in seed
  packages/seeder/src/index.ts
Due: eslint --fix, prettier --write

chore: update firebase 9 to 10
  package.json
  packages/engine/package.json
  yarn.lock
Due: none

chore: fix function name typo
  packages/engine/src/functions/background/OnPrecenseDeleted.ts
  packages/engine/src/functions/background/OnPresenceDeleted.ts
  packages/engine/src/index.ts
  packages/engine/src/utils/sentry.ts
Due: eslint --fix, prettier --write

chore: delete isCohere
  packages/engine/src/functions/background/OnMeetingUpdated.ts
  packages/engine/src/services/summary/index.ts
  packages/engine/src/utils/misc.ts
Due: eslint --fix, prettier --write

chore(engine): update database rules
  packages/engine/config/database.rules
  packages/engine/config/database.rules.json
  packages/engine/firebase.json
Due: none

chore(shared): add email
  packages/shared/src/index.ts
  packages/shared/src/utils/email.ts
Due: eslint --fix, prettier --write

chore: remove function UpdateRecording, add function OnPresenceDeleted
  packages/engine/src/functions/background/OnPresenceDeleted.ts
  packages/engine/src/functions/callables/UpdateRecording.ts
  packages/engine/src/index.ts
  packages/extension/src/background/index.ts
  packages/shared/src/functions/index.ts
  packages/shared/src/realtime/presences/index.ts
Due: eslint --fix, prettier --write

fix(shared): presenceStore
  packages/shared/src/realtime/presences/index.ts
Due: eslint --fix, prettier --write

chore(engine): delete OnMeetingUpdated
  packages/engine/src/functions/background/OnMeetingUpdated.ts
  packages/engine/src/index.ts
  packages/seeder/src/data/meetings.json
Due: eslint --fix, prettier --write

test: check point
  packages/extension/src/background/index.ts
  packages/extension/src/common/index.ts
  packages/extension/src/content/index.ts
  packages/shared/src/firestore/meetings/conversation/index.ts
  packages/shared/src/utils/sanitize.ts
Due: eslint --fix, prettier --write

chore(engine): add logger
  packages/engine/src/functions/background/OnPresenceDeleted.ts
  packages/engine/src/functions/background/OnUserCreated.ts
  packages/engine/src/functions/callables/CreateAuthToken.ts
  packages/engine/src/functions/callables/SendInviteEmails.ts
  packages/engine/src/functions/schedules/Backup.ts
  packages/engine/src/functions/schedules/GettingStartedEmails.ts
  packages/engine/src/services/highlights/index.ts
  packages/engine/src/services/summary/index.ts
  packages/engine/src/services/todos/index.ts
  packages/engine/src/utils/logger.ts
Due: eslint --fix, prettier --write

chore(shared): add utils/await
  packages/shared/src/index.ts
  packages/shared/src/utils/await.ts
Due: eslint --fix, prettier --write

fix(*): logger, cli
  packages/app/package.json
  packages/app/src/containers/Meetings/Meeting/Content.tsx
  packages/engine/package.json
  packages/engine/src/utils/logger.ts
  packages/extension/package.json
  packages/seeder/package.json
Due: eslint --fix, prettier --write

chore(extension): optimize scripts, add blinker as recordingMark
  packages/extension/src/background/index.ts
  packages/extension/src/content/index.css
  packages/extension/src/content/index.ts
  packages/extension/src/typings.d.ts
Due: eslint --fix, prettier --write

fix(app): highlight masonry responsive
  packages/app/src/containers/Meetings/Meeting/HighlightList/index.tsx
  packages/app/src/globals.css
Due: eslint --fix, prettier --write

fix(engine): log
  packages/engine/src/functions/background/OnPresenceDeleted.ts
  packages/engine/src/functions/background/OnUserCreated.ts
  packages/engine/src/functions/callables/CreateAuthToken.ts
  packages/engine/src/functions/callables/SendInviteEmails.ts
  packages/engine/src/functions/schedules/Backup.ts
  packages/engine/src/functions/schedules/GettingStartedEmails.ts
  packages/engine/src/services/highlights/index.ts
  packages/engine/src/services/todos/index.ts
  packages/engine/src/utils/logger.ts
Due: eslint --fix, prettier --write

fix(extension): recordingMark style
  packages/extension/src/content/index.css
Due: none

fix(engine): logger
  packages/engine/src/utils/logger.ts
Due: eslint --fix, prettier --write

chore: add lodash
  package.json
  packages/app/package.json
  packages/engine/package.json
  packages/extension/package.json
  packages/seeder/package.json
  yarn.lock
Due: none

fix(extension): presense
  packages/extension/src/background/index.ts
  packages/extension/src/common/index.ts
  packages/extension/src/content/index.ts
  packages/shared/src/index.ts
  packages/shared/src/realtime/presences/index.ts
Due: eslint --fix, prettier --write

refactor(engine): add email field in highlights
  packages/app/src/containers/Meetings/Meeting/Content.tsx
  packages/engine/package.json
  packages/engine/src/functions/background/OnPresenceDeleted.ts
  packages/engine/src/services/highlights/index.ts
  packages/engine/src/services/summary/index.ts
  packages/engine/src/services/todos/index.ts
  packages/engine/src/services/transcript/index.ts
  packages/extension/src/background/index.ts
  packages/shared/src/firestore/meetings/highlights/index.ts
  packages/shared/src/firestore/meetings/index.ts
Due: eslint --fix, prettier --write

fix: here and there
  packages/app/src/containers/Meetings/Meeting/Content.tsx
  packages/app/src/containers/Meetings/Meeting/HighlightList/Highlight.tsx
  packages/app/src/containers/Meetings/Meeting/HighlightList/index.tsx
  packages/app/src/containers/Meetings/Meeting/Info.tsx
  packages/app/src/containers/Meetings/Meeting/Transcript.tsx
  packages/engine/src/functions/background/OnPresenceDeleted.ts
  packages/extension/src/background/index.ts
  packages/extension/src/content/index.ts
  packages/shared/src/index.ts
  packages/shared/src/realtime/presences/index.ts
  packages/shared/src/rtdb/index.ts
  packages/shared/src/rtdb/presences/index.ts
Due: eslint --fix, prettier --write

fix: speaking frequency
  packages/app/src/containers/Meetings/Meeting/Info.tsx
  packages/engine/src/functions/background/OnPresenceDeleted.ts
  packages/engine/src/services/transcript/index.ts
  packages/shared/src/firestore/meetings/index.ts
Due: eslint --fix, prettier --write

fix(extension): switching
  packages/extension/src/background/index.ts
  packages/extension/src/content/index.ts
  packages/shared/src/calendar/google/index.ts
Due: eslint --fix, prettier --write

chore(extension): checkpoint
  packages/extension/src/background/index.ts
  packages/extension/src/content/index.ts
  packages/extension/src/pages/popup/pages/popup.tsx
  packages/shared/src/auth/GoogleAuth.ts
  packages/shared/src/utils/sanitize.ts
Due: eslint --fix, prettier --write

fix(extension): push message
  packages/extension/src/background/index.ts
Due: eslint --fix, prettier --write

refactor(engine): add hack for missing emails in some messages
  packages/engine/src/functions/background/OnPresenceDeleted.ts
Due: eslint --fix, prettier --write

chore: refresh yarn.lock
  packages/engine/package.json
  yarn.lock
Due: none
